.logo{width: 100px;
    margin-left: 15%;
}
.nav-link{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.submit {
	background-color: tomato;
	color: #fff;
	border: none;
	padding: 5px 18px;
	margin-left: -4px;
}
#input{
    border:none;
    background-color: #ddd;
    padding: 5px 10px;
}
.mealitems{
border-radius: 15px;
margin-left: 5%;
}
.mealitems img{
width: 100%;
}
.mealitems h5{
background-color: #ddd;
border-radius: 3px;
text-align: center;
padding: 10px 10px;
}